.find-courses {
    .discovery-submit {
        border-color: $base-color;
        color: $white;
        background: $base-color;
        &:hover,
        &:active,
        &:focus {
            border: 2px solid $base-color;
            background: rgba($base-color, 0.8);
        }
    }
}

.facet-option {

    //STATE: hover, focus
    &:hover,
    &:focus {
      background: #f05b25;
      color: #ffff00;
      text-decoration: none;

      .count {
        color: #ffff00;
      }
    }

    //STATE: selected (hover, focus)
    &.selected,
    &.selected:hover,
    &.selected:focus {
        background: #f05b25;
        color: #ffff00;

      .count::before {
        color: #ffff00;
      }
    }
  }