.home {
    > header {
        background: $primary url("#{$img-path}/background.jpg") no-repeat 50% 50%;

        .title {
            .course-search {
                .search-button {
                    color: $white;
                    background: $base-color;
                    &:hover,
                    &:focus {
                        border: 1px solid yellow;
                        color: rgb(244, 252, 212);
                        background: yellow;
                    }
                }
            }
        }
    }
}
.home {
    > header {
        .title {
            .course-search {
                .search-input {
                    // STATE: focus
                    &:focus {
                        @extend %no-outline;
                        border-color: $base-color;
                    }
                }
            }
        }
    }
}
