## mako
<%page expression_filter="h"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from lms.djangoapps.branding.api import get_footer
from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled

from datetime import datetime
import pytz
from django.conf import settings
from openedx.core.djangolib.markup import HTML, Text
%>
<% footer = get_footer(is_secure=is_secure) %>
<% icp_license_info = getattr(settings, 'ICP_LICENSE_INFO', {})%>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" style="display:flex; justify-content: center; gap: 15px;" >

    <div class="wrapper-logo" style="padding: 0px 50px 0px 50px">
        <p>
          <a href="/">
            <img alt="${_('organization logo')}" src="${static.url('images/logo.png')}">
          </a>
        </p>
    </div>
    <div style="padding: 0px 50px 0px 50px">

      <nav class="nav-colophon" aria-label="About">
        <ol>
            <li style="color:grey;  padding-bottom: 20px; font-weight: bold;">edX</li>
            <li class="nav-colophon-01">
              <a id="about" href="http://devstack.vn:18000/about" style="font-size: small;">About</a>
            </li>
        </ol>
      </nav>
    </div>
    
    <div style="padding: 0px 50px 0px 50px">
      <nav class="nav-colophon" aria-label="About">
        <ol>
            <li style="color:grey; padding-bottom: 20px; font-weight: bold;">Legal</li>
            <li class="nav-colophon-02">
              <a href="http://devstack.vn:18000/tos_and_honor" style="font-size: small;">Terms of Service &amp; <br> Honor Code</a>
            </li>
            <li class="nav-colophon-03">
              <a href="http://devstack.vn:18000/privacy"  style="font-size: small;">Privacy Policy</a>
            </li>
        </ol>
      </nav>
    </div>
    
    <div style="padding: 0px 50px 0px 50px">
      <nav class="nav-colophon" aria-label="About">
        <ol>
            <li style="color:grey; padding-bottom: 20px; font-weight: bold;">Connect</li>
            <li class="nav-colophon-02">
              <a id="blog" href="http://devstack.vn:18000/blog" style="font-size: small;">Blog</a>
            </li>
            <li class="nav-colophon-03">
              <a id="contact" href="http://devstack.vn:18000/support/contact_us" style="font-size: small;">Contact</a>
            </li>
            <li>
            <a id="donate" href="http://devstack.vn:18000/donate" style="font-size: small;">Donate</a>
            </li>
          </ol>
        </nav>
    </div>

    <div>
      <nav class="nav-colophon" aria-label="About">
      <ol>
        <li style="padding-bottom: 20px;">
          <i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="color: #00b06d;"></i>
          <i class="fa fa-twitter-square fa-2x" aria-hidden="true" style="color: #00b06d;"></i>
          <i class="fa fa-linkedin-square fa-2x" aria-hidden="true" style="color: #00b06d;"></i>
          <i class="fa fa-instagram fa-2x" aria-hidden="true" style="color: #00b06d;"></i>
          <i class="fa fa-reddit-square fa-2x" aria-hidden="true" style="color: #00b06d;"></i>
        </li>
        <li><p class="copyright">GeeksforGeeks</p></li>
      </ol>
    </nav>
    </div>
  </footer>
</div>














